<header class="header">
    <a href="/" class="logo-container logo-container-link">
        <div class="logo-mark-container">
            <img src="/images/logomark.svg" alt="Message logo" class="logomark"/>
        </div>
        <p class="logo-type">
            Mini Message Board
        </p>
    </a>
</header>