<article class="card" id="<%- messageObj.id %>">
    <div class="card-top">
        <div class="card-profile-container">
            <div class="card-profile-image-container">
                <img src="/images/profile.svg" alt="user profile" class="card-profile-icon"/>
            </div>
            <h5 class="card-profile-text"><%= messageObj.user %></h5>
        </div>
        <button class="openInModalButton" aria-label="Open in modal">
            <img src="/images/open.svg" alt="open in modal" class="openInModalIcon" />
        </button>
    </div>

    <div class="card-middle">
        <p class="card-message-text"><%= messageObj.text %></p>
    </div>

    <div class="card-bottom">
        <p class="card-date"><%= messageObj.added %></p>
        <button class="deleteMessageButton" aria-label="Delete message">
            <img src="/images/delete.svg" alt="Delete message" class="deleteMessageIcon" />
        </button>
    </div>
</article>