<div class="headingPlusButton-container">
    <h1 class="home-heading">Messages</h1>
    <button class="addNewMessage-button">+</button>
</div>

<script src="/controllers/addNewMessageController.js"></script>